.container {
    width: 50px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    top:-2%;
    left: 9%;
    
}



svg{
    width: 30px;
    position: absolute;
    top: 10px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .Icon-cart span {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 35px;
    
}