.ItemCard:hover{
    /* transform: scale(1.01); */
    transform: translateY(-5px);
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

.reviews::-webkit-scrollbar{
    display: none;
}

.item-list-padding {
    padding-bottom: 20px;
    padding-top: 20px;
}

#filter_label:hover{
    cursor: pointer;
}

#filter_button{
    display: none;
}

.shop_img {
    background-image:url("../images/95251913-6469-5d23-b77d-6866b41c7bbb.jpg");
    object-fit: cover;
    filter: blur(2px);
    z-index: -10;
    height: 30%;
    top: 1rem;
}

.filter_box {
    bottom: 1.5rem;
    position: relative;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}