
body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    
    
    
}
.calendar{
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background:#fff ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
    margin: auto;
    transition: background-color .5s;
    
}

.D{
    width: 380px;
    padding: 10px;
    background:#fff ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: auto;
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(70px, 70px));
    
}

.CAL{
    margin-bottom: 92px;
    
}

#btn{
    display: none;
    width: 380px;
    margin: auto;
    position: relative;
    height: 50px;
    
}

#btn:hover{
    transition: 0.6s ease-in;
    background: goldenrod;
}

#prevBtn{
    color: black;
}

#prevBtn:hover{
    transition: 0.6s ease-in;
    background: lightgray;
}

#nextBtn:hover{
    transition: 0.6s ease-in;
    background: lightgray;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthYear{
    text-align: center;
    font-weight: 600;
    width: 150px;
    text-transform: capitalize;
    
}


.header button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day{
    text-align: center;
    padding: 5px;
    color: #999fa6;
    font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin:auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
   
    
}

.date:hover,
.date:active{
    transition: 0.6s ease-in;
    background: crimson;
    color: #fff;
}


.date.inactive {
    color: #d2d2d2;
}

.date.inactive:hover{
    color: #fff;
}