.welcome-div-smaller-devices{
    display: none;
}

.info-bilder{
    display: flex;
}

.text-box{
    width: 25%;
}

.picture-box{
    width: 50%;
}

@media only screen and (max-width:900px){

    .welcome-div{
        display: none;
    }

    .welcome-div-smaller-devices{
        display: block;
    }
    
    .info-bilder{
        display: block;
    }
    
    .text-box{
        width: auto;
    }
    
    .picture-box{
    width: auto;
    }
}

.showcase-images{
    object-fit: cover;
    max-height: 30rem;
}


.font-tests{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.font-welcome{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 3px 3px 3px rgb(165, 165, 165);
}

.font-intro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.images-backdrop{
    
    /*background-image: linear-gradient(to right, rgb(144, 177, 0), rgb(117, 143, 2));*/
    background-color: #5F6F52;
}

.welcome-button{
    /*background-image: linear-gradient(to left, rgb(144, 177, 0), rgb(117, 143, 2));*/
    background-color: #A9B388;
}